

@import url('https://fonts.googleapis.com/css?family=Poppins');


*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}


img{
	max-width: 100%;
	display: block;
}
body{font-family: 'Poppins', sans-serif;
color: #333
font-size:20px;

	margin: 0;
	padding: 0;
}
.header{width: 100%;
	background: url(../images/pexels-photo-1462998.jpeg);
	height: 100vh;
	    background-repeat: no-repeat;
    background-size: cover;
    
}


.Logo{    height: 200px;
    width: 40%;
    float: left;
    }
.Logo img{    width: 50%;
    text-align: center;
    padding: 61px 36px;}
nav{    height: 200px;
    width: 60%;
    float: left;
        padding-left: 230px;
    
}
nav ul{    margin: auto;
    padding: 0px;}
nav ul li{    list-style: none;
    float: left;
    padding: 87px 8px;}

nav ul li a{    color: white;
    font-size: 18px;
    text-decoration: none;

}
nav ul li a:hover{
	color:red;
}

nav ul li a:hover,#active{
	color: red
}





 h3{ color: white;
 	    text-align: center;
    font-weight: 100;
        margin-bottom: 30px;
            font-size: 24px;
 }
    h1{ color: white;
text-align: center;
margin-bottom: 38px;
 }


 .btn-1{
	
	color: white;
    border: 1px solid red;
    margin-left: 626px;
    padding: 7px 12px;
    font-size: 19px;
    text-decoration: none;
}
 .btn-1:hover{ background:red;
	color:white;
}	

/************************ about*********/
.container{
	width: 1200px;
	margin: 0 auto;
}
.heading{    margin-top: 355px;}
.heading h1{margin-bottom: 0px;
    color: black;
    font-size: 40px;}
.heading h4{    margin-left: 313px;
    width: 562px;
    font-size: 20px;
    color: #686f68;
}
.about{    height: 570px;
    width: 100%;}

.images-area{    width: 50%;
    height: 400px;
    margin-top: 100px;
    float: left;
}
.images-area img{}
.about-me{    margin-top: 77px;
    width: 50%;
    float: left;
    margin-left: 0px;
}
.about-me h3{    color: black;
    font-size: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.about-me h1{color: black;
margin-bottom: 20px;
margin-top: 7px;}
.about-me p{}
.about-me strong{}
.btn-2{     color: white;
    border: 1px solid;
    padding: 7px 12px;
    font-size: 19px;
    text-decoration: none;
    background: maroon;
   
}
.btn-2:hover{background: #333;
	color: red;
}

/*************about end************/


/*****************service start********/


.service-section{    height: 850px;
    margin-top: 0px;
    background: whitesmoke;
    padding: 5px;}
.header-area{height: 150px;}
.header-area h1{color: black;
    font-size: 50px;
    margin-bottom: 3px;
}
.header-area h1 span{} 
.header-area p{    text-align: center;
    font-size: 21px;
    margin-top: 0px;
}
.service-area{}
.service-1{width: 350px;
    float: left;
    background: #fff;
    margin-right: 30px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 47px;
}
.service-2{width: 350px;
    float: left;
    background: #fff;
    margin-right: 24px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 3px;
}
.service-3{    width: 350px;
    float: left;
    background: #fff;
    margin-right: 24px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 3px;
}
.service-4{    width: 350px;
    float: left;
    background: #fff;
    margin-right: 24px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 47px;
    margin-top: 28px;
}
.service-5{    width: 350px;
    float: left;
    background: #fff;
    margin-right: 24px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 3px;
    margin-top: 28px;
}
.service-6{    width: 350px;
    float: left;
    background: #fff;
    margin-right: 24px;
    text-align: center;
    padding: 40px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-left: 3px;
    margin-top: 28px;
}
.service-1 h1{color: black;}
.service-2 h1{color: black;}
.service-3 h1{color: black;}
.service-4 h1{color: black;}
.service-5 h1{color: black;}
.service-6 h1{color: black;}

/*****************service end********/


/*****************education & experience start********/
.education-experience{}

.header-area{height: 150px;}

.edu-exp-area{height: 800px;}
.edu-1{    width: 45%;
    float: left;
    padding: 25px;
    margin-left: 45px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px #d3d9ef;}
.edu-1 h1{    color: red;
    margin-right: 373px;
    margin-bottom: 0px;}
.edu-1 h3{color: black;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 84px;
    margin-top: 10px;}
.edu-1 p{    margin-top: 0px;
    color: gray;
}


.edu-2{    width: 45%;
    float: left;
    background: #fff;
    padding: 21px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0px 0px 10px #d3d9ef;
}
.edu-2 h1{color: red;
    margin-right: 373px;
    margin-bottom: 0px;
}
.edu-2 h3{color: black;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 143px;
    margin-top: 10px;
}
.edu-2 p{margin-right: 25px;
    color: gray;
}

.edu-3{width: 45%;
    float: left;
    background: #fff;
    padding: 23px;
    margin-left: 47px;
    margin-right: 3px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-top: 35px;}
.edu-3 h1{    color: red;
    margin-right: 370px;
    margin-top: 14px;
    margin-bottom: 11px;
}
.edu-3 h3{    color: black;
    margin-right: 321px;
    margin-top: 0px;
    margin-bottom: 9px;}
.edu-3 p{    margin-top: 0px;
    margin-right: 46px;
    color: gray;
}

.edu-4{    width: 45%;
    float: left;
    background: #fff;
    padding: 20px;
    margin-left: 32px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-top: 35px;
}
.edu-4 h1{    color: red;
    margin-right: 382px;
    margin-bottom: 0px;}
.edu-4 h3{    color: black;
    margin-right: 210px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.edu-4 p{    margin-top: 10px;
    color: gray;
}

.edu-5{    width: 45%;
    float: left;
    background: #fff;
    padding: 19px;
    margin-right: 35px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-top: 40px;
    margin-left: 46px;
}
.edu-5 h1{    color: red;
    margin-top: 20px;
    margin-right: 386px;
    margin-bottom: 12px;}
.edu-5 h3{    color: black;
    margin-top: 0px;
    margin-right: 318px;
    margin-bottom: 0px;
}
.edu-5 p{    margin-top: 15px;
    color: grey;}

.edu-6{    width: 45%;
    float: left;
    background: #fff;
    padding: 21px;
    margin-left: 0px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-top: 39px;
    margin-right: 3px;
}
.edu-6 h1{    color: red;
    margin-right: 381px;
    margin-bottom: 10px;}
.edu-6 h3{    color: black;
    margin-right: 184px;
    margin-top: 0;
    margin-bottom: 0px;
}
.edu-6 p{    margin-top: 13px;
    color: grey;}






/***************** education & experience end********/


/*****************contact start********/
.contact-section{}
.contact-area{    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
    height: 450px;
    margin-top: 90px;
    box-shadow: 0px 0px 10px #d3d9ef;
    margin-bottom: 90px;
    padding: 55px 65px;
    overflow: hidden;
    display: block;}
.contact-form{}
.contact-form input{    width: 45%;
    float: left;
    margin-right: 52px;
    padding: 15px 31px;
    font-size: 16px;
    border: 1px solid #ff2a2a;
    margin-bottom: 35px;
}
.contact-form input{}
.message{}
textarea{    width: 95%;
    height: 200px;
    border: 1px solid red;
    margin-bottom: 30px;}
.btn-5{}
.btn-5 input{    border: 0px;
    font-size: 19px;
    padding: 15px 30px;
    background: red;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
}




.


/*****************contact end********/

/***********footer************/
.footer-area{background: grey;
height:500px;}
.footer{    padding: 1px;
    background: #cccccc;
    height: 369px;
}
.footer h1{color: black;
    margin-top: 77px;
    margin-bottom: 12px;
    font-size: 30px;
}

span.style{color: #c11818;}
.footer p{    width: 546px;
    margin-left: 343px;
    margin-top: 0;
    padding: 0;
    font-size: 19px;
}

.btn-3{     color: #fff7f7;
    border: 2px solid;
    text-decoration: none;
    margin-left: 463px;
    padding: 5px 19px;
    border-radius: 30px;
    background: #9e0f0f;
    font-size: 24px;

}




